@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --first-color: #393939; /* Background */
  --second-color: #fff; /* Font */
  --third-color: lightblue; /* button */
}

* {
  margin: 0;
  padding: 0;
}

/* Helpers */

.m-0 {
  margin: 0;
}
.p-0 {
  padding: 0;
}

span {
  color: var(--third-color)
}

body {
  background-color: var(--first-color);
  min-height: 100vh;
  color: var(--second-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.divButtons {
  gap: 1rem;
}

.inputNumber{
  padding: 1rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  font-size: 1.5rem;
}

button {
  all: unset;
  color:var(--first-color);
  background-color: var(--third-color);
  padding: 1rem;
  cursor: pointer;
  text-align: center;
  border-radius: 25px;
  margin: 1rem;
}

button:hover {
  color: var(--second-color);
  filter: opacity(90%);
}

a {
  color: var(--second-color);
  text-decoration: none;
  font-size: 2rem;
}