/* Globals*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --first-color: #393939; /* Background */
  --second-color: #fff; /* Font */
  --third-color: lightblue; /* button */
}

* {
  margin: 0;
  padding: 0;
}

/* Helpers */

.m-0 {
  margin: 0;
}
.p-0 {
  padding: 0;
}

.d-none {
  display: none!important;
}

.text-center {
  text-align: center;
}

.fs-2 {
  font-size: 2rem;
}

span {
  color: var(--third-color)
}

body {
  background-color: var(--first-color);
  min-height: 100vh;
  color: var(--second-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.absolute {
  max-width: 250px;
  height: fit-content;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 auto;
}

.popUp {
  border-radius: 15px;
  padding: .5rem;
  text-align: center;
  background-color: var(--second-color);
  color: var(--first-color);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  animation:  appear 4s ease-in-out;
  -webkit-animation:  appear 4s ease-in-out;
  top: -155px;
}

.opacity {
  opacity: 0;
}

@keyframes appear {
  0% {
    opacity: 0;
    top: -50px;
  }
  25% {
    opacity: 1;
    top: 0px;
  }
  75% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 0;
    top: -50px;
  }
}

.divButtons {
  gap: 1rem;
}

.inputs {
  padding: 0.5rem;
}

.textAreas, .select {
  padding: 1rem;
}

.textAreas, .select,.inputs {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

#createQuizzes > div:nth-of-type(2n) {
  margin: 1rem;
}



button {
  all: unset;
  color:var(--first-color);
  background-color: var(--third-color);
  padding: 1rem;
  cursor: pointer;
  text-align: center;
  border-radius: 25px;
  margin: 1rem;
}

button:hover {
  color: var(--second-color);
  filter: opacity(90%);
}

a {
  color: var(--second-color);
  text-decoration: none;
  font-size: 2rem;
}